.header {
	width: 100vw;
	background: linear-gradient(180deg, #35A5EE 0%, #1264D6 100%);
	color: white;
	padding: 20px 40px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center	;
	gap: 30px;
}

body {
	font-family: 'Inter', serif;
	margin: 0px;
	overflow-x: hidden;
}

.logo {
	width: 100px;
	height: auto;
}

.main {
	width: 100vw;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px 20px;
}

h1 {
	font-weight: 400;
	margin: 0%;
}

.img {
	width: 400px;
	height: 400px;
}

.plans {
	gap: 50px;
}

.product {
	border: 1px solid #E5E5E5;
	border-radius: 20px;
	overflow: hidden;
	height: 400px;
	width: fit-content;
	transition: all 0.3s;
}

.upper, .lower {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 20px;
	gap: 50px;
}

.product:hover {
	box-shadow: 0px 10px 10px 0px #d9d9d9;
	translate: 0 -10px;
}